tools/libmuxml/schema/device_domains.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

 <xs:complexType name="deviceDomainsType">
  <xs:sequence>
   <xs:element name="domain" type="deviceDomainType" minOccurs="0" maxOccurs="255"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="devsRefType">
  <xs:sequence>
   <xs:element name="device" type="devRefType" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>

</xs:schema>
