tools/libmuxml/schema/platform.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

 <xs:complexType name="aliasesType">
  <xs:annotation>
   <xs:documentation>
    Aliases in the platform section are used to give alternative names to
    certain devices in the hardware section. This is required to create a
    unified view of devices over multiple hardware targets.

    For example, the alias \texttt{upstream} could be mapped to
    \texttt{ethernet\_controller\_1} on one hardware platform, and on the other
    \texttt{ethernet\_controller\_2}. If the controller is referenced via the
    alias in the system policy, this difference is transparent from the system
    policy's point of view.
   </xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:element name="alias" type="namePhysRefType" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="namePhysRefType">
  <xs:sequence>
   <xs:element name="resource" type="namePhysRefType" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
  <xs:attribute name="name"     type="nameType" use="required"/>
  <xs:attribute name="physical" type="nameType" use="required"/>
 </xs:complexType>

 <xs:complexType name="devClassesType">
  <xs:sequence>
   <xs:element name="class" type="devClassType" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="devClassType">
  <xs:sequence>
   <xs:element name="device" type="physRefType" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
  <xs:attribute name="name" type="nameType" use="required"/>
 </xs:complexType>

 <xs:complexType name="physRefType">
  <xs:attribute name="physical" type="nameType" use="required"/>
 </xs:complexType>

 <xs:complexType name="kernelDiagType">
  <xs:sequence>
   <xs:element name="device" type="kernelDiagDeviceType" minOccurs="0" maxOccurs="1"/>
  </xs:sequence>
  <xs:attribute name="type" type="kernelDiagKindType" use="required"/>
 </xs:complexType>

 <xs:simpleType name="kernelDiagKindType">
  <xs:restriction base="xs:string">
   <xs:enumeration value="none"/>
   <xs:enumeration value="uart"/>
   <xs:enumeration value="hsuart"/>
   <xs:enumeration value="vga"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:complexType name="kernelDiagDeviceType">
  <xs:sequence>
   <xs:element name="memory" type="physRefType" minOccurs="0" maxOccurs="unbounded"/>
   <xs:element name="ioPort" type="physRefType" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
  <xs:attribute name="physical" type="nameType" use="required"/>
 </xs:complexType>

</xs:schema>
