tools/libmuxml/schema/platform.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xs:complexType name="deviceType">
		<xs:sequence>
			<xs:element name="irq"    type="irqType"          minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="memory" type="deviceMemoryType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ioPort" type="ioPortType"       minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name"   type="nameType"    use="required"/>
		<xs:attribute name="shared" type="booleanType" use="required"/>
	</xs:complexType>

	<xs:complexType name="processorType">
		<xs:attribute name="logicalCpus"  type="xs:positiveInteger" use="required"/>
		<xs:attribute name="speed"        type="xs:positiveInteger" use="required"/>
		<xs:attribute name="vmxTimerRate" type="vmxTimerRateType"   use="required"/>
	</xs:complexType>

	<xs:simpleType name="vmxTimerRateType">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:maxInclusive value="31"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
