tools/libmuxml/schema/subject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xs:group name="subjectBaseElements">
		<xs:sequence>
			<xs:element name="bootparams" type="xs:string"         minOccurs="1" maxOccurs="1"/>
			<xs:element name="memory"     type="memoryRefsType"    minOccurs="1" maxOccurs="1"/>
			<xs:element name="devices"    type="devicesRefType"    minOccurs="1" maxOccurs="1"/>
			<xs:element name="events"     type="subjectEventsType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>

	<xs:attributeGroup name="subjectBaseAttrs">
		<xs:attribute name="name" type="nameType"              use="required"/>
		<xs:attribute name="cpu"  type="xs:nonNegativeInteger" use="required"/>
	</xs:attributeGroup>

	<xs:complexType name="subjectEventsType">
		<xs:sequence>
			<xs:element name="source" type="eventSourceType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="target" type="eventTargetType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="subjectsType">
		<xs:sequence>
			<xs:element name="subject" type="subjectType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
