contrib/xmlada-4.3w/docs/schema/pref.xsd

<?xml version="1.0" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="preferences">
    <xsd:complexType>
      <xsd:sequence>
         <xsd:element ref="pref" minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="pref">
    <xsd:complexType mixed="true">
       <xsd:attribute name="name" use="required" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
