tools/libmuxml/schema/system_src/device_domains.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

 <xs:complexType name="deviceDomainType">
  <xs:sequence>
   <xs:element name="memory"  type="memoryRefsType" minOccurs="0" maxOccurs="1"/>
   <xs:element name="devices" type="devsRefType"    minOccurs="1" maxOccurs="1"/>
  </xs:sequence>
  <xs:attribute name="name" type="nameType" use="required"/>
 </xs:complexType>

 <xs:complexType name="devRefType">
  <xs:attribute name="logical"           type="nameType"    use="required"/>
  <xs:attribute name="physical"          type="nameType"    use="required"/>
  <xs:attribute name="mapReservedMemory" type="booleanType" use="optional"/>
 </xs:complexType>

</xs:schema>
