tools/libmuxml/schema/system_src/events.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xs:complexType name="eventGroupType">
		<xs:sequence>
			<xs:element name="default" type="defaultEventEntryType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="event"   type="eventEntryType"        minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="eventGroupNameType" use="required"/>
	</xs:complexType>

	<xs:complexType name="defaultEventEntryType">
		<xs:sequence>
			<xs:element name="notify" type="eventNotifyType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="action"   type="eventActionType" use="required"/>
		<xs:attribute name="physical" type="nameType"        use="optional"/>
	</xs:complexType>

</xs:schema>
