tools/libmuxml/schema/system_src/kernel_diagdev.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

 <xs:complexType name="kernelDiagDevType">
  <xs:sequence>
   <xs:element name="ioPort" type="kernelDiagPortRefType" minOccurs="1" maxOccurs="1"/>
  </xs:sequence>
  <xs:attribute name="physical" type="nameType" use="required"/>
 </xs:complexType>

 <xs:complexType name="kernelDiagPortRefType">
  <xs:attribute name="physical" type="nameType" use="required"/>
 </xs:complexType>

</xs:schema>
