tools/libmuxml/schema/system_src/scheduling.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

 <xs:complexType name="majorFrameType">
  <xs:sequence>
   <xs:element name="cpu" type="cpuType" minOccurs="1" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="minorFrameType">
  <xs:attribute name="subject" type="nameType"           use="required"/>
  <xs:attribute name="ticks"   type="xs:positiveInteger" use="required"/>
 </xs:complexType>

</xs:schema>
