tools/libmuxml/schema/system_src/subject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xs:complexType name="subjectType">
		<xs:sequence>
			<xs:group ref="subjectBaseElements"/>
			<xs:element name="binary" type="binaryType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="subjectBaseAttrs"/>
		<xs:attribute name="profile" type="subjectProfileType" use="required"/>
	</xs:complexType>

	<xs:complexType name="binaryType">
		<xs:attribute name="filename"       type="xs:string"      use="required"/>
		<xs:attribute name="size"           type="memorySizeType" use="required"/>
		<xs:attribute name="virtualAddress" type="word64Type"     use="required"/>
	</xs:complexType>

	<xs:simpleType name="subjectProfileType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="native"/>
			<xs:enumeration value="linux"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
