tools/libmuxml/schema/format_b/memory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xs:complexType name="memoryType">
		<xs:complexContent>
			<xs:extension base="memoryBaseType">
				<xs:attribute name="physicalAddress" type="word64Type" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="memoryBlockType">
		<xs:complexContent>
			<xs:extension base="memoryBlockBaseType">
				<xs:attribute name="allocatable" type="xs:boolean" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
