policy/schema/binary.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="./types.xsd"/>

	<xs:complexType name="binary_type">
		<xs:attribute name="path"             type="xs:string"    use="required"/>
		<xs:attribute name="physical_address" type="address_type" use="required"/>
	</xs:complexType>

	<xs:complexType name="binaries_type">
		<xs:sequence>
			<xs:element name="binary" type="binary_type" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
