policy/schema/system.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="./subject.xsd"/>

	<xs:complexType name="system_type">
		<xs:sequence>
			<xs:element name="subjects" type="subjects_type" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="system" type="system_type"/>

</xs:schema>
