policy/schema/system.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="./kernel.xsd"/>
	<xs:include schemaLocation="./subject.xsd"/>

	<xs:complexType name="system_type">
		<xs:sequence>
			<xs:element name="kernel"   type="kernel_type"   minOccurs="1" maxOccurs="1"/>
			<xs:element name="subjects" type="subjects_type" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="vmxon_address"      type="address_type" use="required"/>
		<xs:attribute name="vmcs_start_address" type="address_type" use="required"/>
	</xs:complexType>

	<xs:element name="system" type="system_type"/>

</xs:schema>
