tools/libmuxml/schema/common_ab/features.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xs:complexType name="featuresType">
		<xs:sequence>
			<xs:element name="iommu"  type="featureType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="x2apic" type="featureType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
