tools/libmuxml/schema/common_ab/platform.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

 <xs:complexType name="platformType">
  <xs:sequence>
   <xs:element name="mappings"          type="mappingsType"   minOccurs="1" maxOccurs="1"/>
   <xs:element name="kernelDiagnostics" type="kernelDiagType" minOccurs="0" maxOccurs="1"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="mappingsType">
  <xs:sequence>
   <xs:element name="aliases" type="aliasesType"    minOccurs="1" maxOccurs="1"/>
   <xs:element name="classes" type="devClassesType" minOccurs="1" maxOccurs="1"/>
  </xs:sequence>
 </xs:complexType>

</xs:schema>
