tools/libmuxml/schema/common_ab/subject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xs:complexType name="subjectType">
		<xs:sequence>
			<xs:element name="vcpu"       type="vcpuType"  minOccurs="1" maxOccurs="1"/>
			<xs:element name="bootparams" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:group ref="subjectBaseElements"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
		<xs:attributeGroup ref="subjectBaseAttrs"/>
	</xs:complexType>

</xs:schema>
